<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iben.sanitation.mapper.IovAdministrativeDivisionMapper">
  <resultMap id="BaseResultMap" type="com.iben.sanitation.domain.IovAdministrativeDivisionPO">
    <id column="ad_id" jdbcType="INTEGER" property="adId" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="deep" jdbcType="INTEGER" property="deep" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="local_name" jdbcType="VARCHAR" property="localName" />
    <result column="pinyin_prefix" jdbcType="VARCHAR" property="pinyinPrefix" />
    <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    <result column="ext_id" jdbcType="VARCHAR" property="extId" />
    <result column="ext_name" jdbcType="VARCHAR" property="extName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from iov_administrative_division
    where ad_id = #{adId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iben.sanitation.domain.IovAdministrativeDivisionPO">
    insert into iov_administrative_division (ad_id, pid, deep,
      name, local_name, pinyin_prefix,
      pinyin, ext_id, ext_name,
      create_time, modify_time, delete_status
      )
    values (#{adId,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{deep,jdbcType=INTEGER},
      #{name,jdbcType=VARCHAR}, #{localName,jdbcType=VARCHAR}, #{pinyinPrefix,jdbcType=VARCHAR},
      #{pinyin,jdbcType=VARCHAR}, #{extId,jdbcType=VARCHAR}, #{extName,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.iben.sanitation.domain.IovAdministrativeDivisionPO">
    update iov_administrative_division
    set pid = #{pid,jdbcType=INTEGER},
      deep = #{deep,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      local_name = #{localName,jdbcType=VARCHAR},
      pinyin_prefix = #{pinyinPrefix,jdbcType=VARCHAR},
      pinyin = #{pinyin,jdbcType=VARCHAR},
      ext_id = #{extId,jdbcType=VARCHAR},
      ext_name = #{extName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      delete_status = #{deleteStatus,jdbcType=BIT}
    where ad_id = #{adId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ad_id, pid, deep, name, local_name, pinyin_prefix, pinyin, ext_id, ext_name,
    create_time, modify_time, delete_status
    from iov_administrative_division
    where ad_id = #{adId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ad_id, pid, deep, name, local_name, pinyin_prefix, pinyin, ext_id, ext_name,
    create_time, modify_time, delete_status
    from iov_administrative_division
  </select>
</mapper>
