<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iben.sanitation.mapper.IovRoadLabelMapper">
  <resultMap id="BaseResultMap" type="com.iben.sanitation.domain.IovRoadLabelPo">
    <id column="road_label_id" jdbcType="BIGINT" property="roadLabelId" />
    <result column="road_label_name" jdbcType="VARCHAR" property="roadLabelName" />
    <result column="label_deep" jdbcType="INTEGER" property="labelDeep" />
    <result column="label_sort" jdbcType="INTEGER" property="labelSort" />
    <result column="start_point_name" jdbcType="VARCHAR" property="startPointName" />
    <result column="end_point_name" jdbcType="VARCHAR" property="endPointName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="community_code" jdbcType="BIGINT" property="communityCode" />
    <result column="clean_level" jdbcType="INTEGER" property="cleanLevel" />
    <result column="line_options" jdbcType="INTEGER" property="lineOptions" />
    <result column="purling_count" jdbcType="INTEGER" property="purlingCount" />
    <result column="sweep_count" jdbcType="INTEGER" property="sweepCount" />
    <result column="dedust_count" jdbcType="INTEGER" property="dedustCount" />
    <result column="purling_direction" jdbcType="INTEGER" property="purlingDirection" />
    <result column="sweep_direction" jdbcType="INTEGER" property="sweepDirection" />
    <result column="dedust_direction" jdbcType="INTEGER" property="dedustDirection" />
    <result column="road_length" jdbcType="DECIMAL" property="roadLength" />
    <result column="road_width" jdbcType="DECIMAL" property="roadWidth" />
    <result column="road_area" jdbcType="DECIMAL" property="roadArea" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from iov_road_label
    where road_label_id = #{roadLabelId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.iben.sanitation.domain.IovRoadLabelPo">
    insert into iov_road_label (road_label_id, road_label_name, label_deep,
      label_sort, start_point_name, end_point_name,
      remark, community_code, clean_level,
      line_options, purling_count, sweep_count,
      dedust_count, purling_direction, sweep_direction,
      dedust_direction, road_length, road_width,
      road_area, create_time, modify_time,
      delete_status)
    values (#{roadLabelId,jdbcType=BIGINT}, #{roadLabelName,jdbcType=VARCHAR}, #{labelDeep,jdbcType=INTEGER},
      #{labelSort,jdbcType=INTEGER}, #{startPointName,jdbcType=VARCHAR}, #{endPointName,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}, #{communityCode,jdbcType=BIGINT}, #{cleanLevel,jdbcType=INTEGER},
      #{lineOptions,jdbcType=INTEGER}, #{purlingCount,jdbcType=INTEGER}, #{sweepCount,jdbcType=INTEGER},
      #{dedustCount,jdbcType=INTEGER}, #{purlingDirection,jdbcType=INTEGER}, #{sweepDirection,jdbcType=INTEGER},
      #{dedustDirection,jdbcType=INTEGER}, #{roadLength,jdbcType=DECIMAL}, #{roadWidth,jdbcType=DECIMAL},
      #{roadArea,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP},
      #{deleteStatus,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.iben.sanitation.domain.IovRoadLabelPo">
    update iov_road_label
    set road_label_name = #{roadLabelName,jdbcType=VARCHAR},
      label_deep = #{labelDeep,jdbcType=INTEGER},
      label_sort = #{labelSort,jdbcType=INTEGER},
      start_point_name = #{startPointName,jdbcType=VARCHAR},
      end_point_name = #{endPointName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      community_code = #{communityCode,jdbcType=BIGINT},
      clean_level = #{cleanLevel,jdbcType=INTEGER},
      line_options = #{lineOptions,jdbcType=INTEGER},
      purling_count = #{purlingCount,jdbcType=INTEGER},
      sweep_count = #{sweepCount,jdbcType=INTEGER},
      dedust_count = #{dedustCount,jdbcType=INTEGER},
      purling_direction = #{purlingDirection,jdbcType=INTEGER},
      sweep_direction = #{sweepDirection,jdbcType=INTEGER},
      dedust_direction = #{dedustDirection,jdbcType=INTEGER},
      road_length = #{roadLength,jdbcType=DECIMAL},
      road_width = #{roadWidth,jdbcType=DECIMAL},
      road_area = #{roadArea,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      delete_status = #{deleteStatus,jdbcType=BIT}
    where road_label_id = #{roadLabelId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select road_label_id, road_label_name, label_deep, label_sort, start_point_name,
    end_point_name, remark, community_code, clean_level, line_options, purling_count,
    sweep_count, dedust_count, purling_direction, sweep_direction, dedust_direction,
    road_length, road_width, road_area, create_time, modify_time, delete_status
    from iov_road_label
    where road_label_id = #{roadLabelId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select road_label_id, road_label_name, label_deep, label_sort, start_point_name,
    end_point_name, remark, community_code, clean_level, line_options, purling_count,
    sweep_count, dedust_count, purling_direction, sweep_direction, dedust_direction,
    road_length, road_width, road_area, create_time, modify_time, delete_status
    from iov_road_label
  </select>
</mapper>
